<div class="container-fluid text-center">
    <div class="row signin-header">
        <div class="col-lg-12 ">
            <img src="../../assets/svg/logo_cira_sync.svg" height="100" />
        </div>
    </div>
    <div class="row signin-content">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h3 class="display-5">
                    To sign-in to the Сira Apps Management portal,
                    <br />
                    enter your Office 365 Email address:
                </h3>
             
            <a class="btn btn-outline-primary btn-lg"  (click)="onOfficeLoginClick()"  role="button">
                Proceed to Office 365 Login
            </a>
              </div>
            <!--<h3>
                 To sign-in to the Сira Apps Management portal,
            <br/>
                 enter your Office 365 Email address:
             </h3>
             <button type="button" (click)="onOfficeLoginClick()" class="btn btn-outline-primary">Proceed to Office 365 Login</button>-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
</div>