
.signin-header{
    background-color: white;
    max-height: 100px;
}

.signin-content .jumbotron{
    color: white;
    height: 300px;
    background: -moz-linear-gradient(left, rgba(107,186,112,0.56) 0%, rgba(107,186,112,0.5) 98%, rgba(107,186,112,0.5) 100%);
    background: -webkit-linear-gradient(left, rgba(107,186,112,0.56) 0%,rgba(107,186,112,0.5) 98%,rgba(107,186,112,0.5) 100%);
    background: linear-gradient(to right, rgba(107,186,112,0.56) 0%,rgba(107,186,112,0.5) 98%,rgba(107,186,112,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f6bba70', endColorstr='#6bba70',GradientType=1 );
}