<div class="row">
    <div class="col-lg-12">
        <md-card>
            <md-card-header>
                <div md-card-avatar></div>
                <md-card-title>Tenants</md-card-title>
                <md-card-subtitle>List</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <md-nav-list>
                    <md-list-item *ngFor="let tenant of tenants">
                        <a md-line href="...">{{ tenant.name }}</a>
                        <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
                    </md-list-item>
                </md-nav-list>
            </md-card-content>
            <md-card-actions>
                <button md-button (click)="onAdd()">Add</button>
            </md-card-actions>
        </md-card>
    </div>
</div>