.app-container {

  height: 90%;
 
  overflow: hidden;
}

.app-sidenav-content {
  height: 100%;
  
  overflow: hidden;
}
    

.app-sidenav {
    
  margin-left: 15px;
  
  margin-right: 15px;
  padding: 5px;
    background: #698088;
}
